.produtosNew {
  max-width: 82.5rem;
  height: 200px;
  margin: 0 auto;
  padding: 4rem 1rem;
  height: auto;
  overflow: hidden;
}

.containerProdutoNew {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.containerProduto1 {
  position: relative;
  width: 20rem;
  z-index: 50;
}

.containerProduto1 img {
  position: absolute;
  top: -10px;
  z-index: 40;
}

.containerProduto2 {
  display: flex;
  justify-content: center;
  width: 40rem;
}

.containerProduto3 {
  width: 20rem;
}

.produtoImage {
  display: flex;
  width: 30rem;
}

.produtoImage img {
  width: 100%;
}

.produtoImageMini {
  display: flex;
  flex-direction: column;
  max-width: 5.7rem;
  margin-right: 1rem;
}

.produtoImageMini img {
  margin-bottom: .5rem;
}


.imageActive {
  cursor: pointer;
}

.containerPrice {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black1-color);
}

.cardPrice {
  display: block;
  max-width: 1rem;
  max-height: 1rem;
  background: var(--nextPrev-color);
}

.oldPrice {
  color: var(--logo-color);
  text-decoration: line-through;
}

.parcelas {
  font-weight: bold;
  color: var(--nextPrev-color);
}

@media (min-width: 768px) and (max-width: 961px){

}