.container {
  width: 100%;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.mainContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50rem;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 5px;
}

.mainContainer1 .btnContainer {
  max-width: 20rem;
  padding-left: 1rem;
}

.mainContainer1 .btnMain {
  display: block;
  background: transparent;
  position: relative;
  width: 12rem;
  height: 2.5rem;
  margin: -1rem 0 0 -1rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.mainContainer1 .btnMain::before {
  content: "";
  position: absolute;
  border: .1rem solid #333;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  top: .2rem;
  right: 0;
  bottom: 0;
  left: .3rem;
}

.btnMainText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: .5rem;
    bottom: .5rem;
    left: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .1rem;
    background: var(--logo-color);
    padding: 1.2rem;
    margin-top: -.1rem;
    margin-right: -.4rem;
}

.mainContainer1 .btnMainText:active {
  transform: translateX(.2rem) translateY(.2rem);
}

.mainContainer1Item h3 {
  font-size: 2rem;
  margin-bottom: .5rem;
  color: var(--black1-color);
}

.mainContainer1Item p {
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
}

.mainContainer1Item2 img {
  max-width: 350px;
}

.containerPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black1-color);
}

.cardPrice {
  display: block;
  max-width: 1rem;
  max-height: 1rem;
  background: var(--nextPrev-color);
}

.oldPrice {
  color: var(--logo-color);
  text-decoration: line-through;
}

.parcelas {
  font-weight: bold;
  color: var(--nextPrev-color);
}

.mainContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

.nameSb {
  display: flex;
  max-width: 18rem;
}

.nameSb h3 {
  font-size: 2rem;
}

.imgSb {
  max-width: 14rem;
}

.priceSb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer2 {
  max-width: 20rem;
  padding-left: 1rem;
  margin-top: 3rem;
}

.btnMain2 {
  display: block;
  background: transparent;
  position: relative;
  width: 12rem;
  height: 2.5rem;
  margin: -1rem 0 0 -1rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.btnMain2::before {
  content: "";
  position: absolute;
  border: .1rem solid #333;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  top: .2rem;
  right: 0;
  bottom: 0;
  left: .3rem;
}

.btnMainText2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: .5rem;
  bottom: .5rem;
  left: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  background: var(--logo-color);
  padding: 1.2rem;
  margin-top: -.1rem;
  margin-right: -.4rem;
}

.mainContainer1 .btnMainText:active {
  transform: translateX(.2rem) translateY(.2rem);
}

@media (min-width: 720px) and (max-width: 1100px) {
  
  .mainContent {
    flex-direction: column;
  }

  .mainContainer1 {
    width: 100%;
  }

  .mainContainer2 {
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
} 

@media (min-width: 425px) and (max-width: 719px) {

  
} 