.container {
  width: 100%;
  background: var(--footer-color);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 82.5rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  color: #fff;
}

.developer {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: .8rem;
  padding-bottom: 1rem;
}